@charset "utf-8";
/* CSS Document */

:root {
	--dark-red: #821C1C; /* was #8C1919 */
	--dark-green: #0D4E2F;
	--dark-purple: #4D2C4B; /* was #442C4C */
}

html {
	box-sizing: border-box;
}

body, h1, h2, h3, p {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: inherit;
}

body {
	text-align: center;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	min-height: 100vh;
	
	display: grid;
	grid-template-rows: auto 1fr auto;
}

.upperSection {
	border: 1px solid orange;
}

header {
	border: 1px solid purple;
	background-color: var(--dark-red);
	height: 100px;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.banner {
	font-size: 56px;
}

nav {
	height: 40px;
	background-color: var(--dark-green);
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.navContainer {
	width: 50%;
	border: 1px solid black;
	
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.navLink:not(:last-child) {
	border-right: 1px solid black;
}

.middleSection {
	border: 1px solid pink;
	background-color: var(--dark-purple);
}

.bottomSection {
	border: 1px solid green;
}